* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c9edf5;
    color: #000000;
    font-weight: 700;
    height: 100px;
    width: 100%
}

.icon {
    margin-left: 40px;
    line-height: 1.4545454545em;
    font-weight: 500;
}

.header .icon p {
    font-size: 1.6em;
    letter-spacing: 5px;
    cursor: pointer
}

.icon p:hover {
    color: chocolate;
    transition: all .3s ease-in-out
}

.nav-content {
    width: 60%;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

ul li a {
    color: black;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
}

ul li a:hover {
    color: chocolate;
    transition: all .3s ease-in-out
}


.main-content {
    overflow: hidden;
    position: relative
}

.image-container {
    height: calc(100vh - 200px);
    width: 100%
}

.image-container img {
    height: 100%;
    object-fit: cover;
    width: 100%
}

.translucent-overlay {
    background-color: #53535390;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.main-content-title {
    width: 100%;
    color: #fff;
    padding: 0 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(0.5833333333vw + 10.6666666667px);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.main-content-title p {
    margin-bottom: 10px;
    font-size: 16px;

}

.main-title-2 {
    line-height: 1.4545454545em;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
}

.main-content-btn {
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    color: #000;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 30px;
    overflow: hidden;
    padding: 9px 30px;
    position: relative;
    transition: all .3s linear;
    z-index: 1
}

.popup {
    align-items: center;
    background-color: #7dd9f5;
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 1.5em;
    font-weight: 600;
    height: 120px;
    justify-content: center;
    width: 250px
}

.alert {
    animation: popin .4s ease-in-out;
    display: none;
    left: 50%;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%)
}

@keyframes popin {
    0% {
        opacity: 0;
        left: -100%;
        transform: translate(-50%, -50%)
    }

    100% {
        opacity: 1;
        right: 40%;
        transform: translate(-50%, -50%)
    }

    50% {
        opacity: 1;
        right: 50%;
        transform: translate(-50%, -50%)
    }
}

.footer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #bbe2ec;
    justify-content: center;
    color: #000;
    letter-spacing: 3px;
    font-weight: 500
}

.header_icon {
    display: none;
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;

    }

    .nav-content {
        align-items: end;
        width: 10%;
    }

    .header_icon {
        display: block;
        width: 30px;
        height: 25px;
        margin: auto;

    }

    i {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 550px) {
    .main-title-2 {
        font-size: 1.7em;
    }
    .header .icon p{
        letter-spacing: 3px;
        font-size: 1.6em;

    }
    .icon {
        margin-left: 10px;
    }
    .main-content-title p {
        font-size: 1.8em;
    }

    .footer {
        font-size: 0.9em;
    }

    .popup {
        width: 200px;
        height: 100px;
        font-size: 1.2em;
        font-weight: 400;
    }
    .main-content-btn{
        font-size: 1.4em;
        padding: 5px 25px;
    }
}

@media screen and (max-width:450px) {
    .main-title-2 {
        font-size: 1.8em;
    }

    .main-content-title p {
        font-size: 1.2em;
    }

    .footer {
        font-size: 0.9em;
    }
    .main-content-btn{
        font-size: 1.3em;
        padding: 5px 25px;
    }
}

@media screen and (max-width:285px) {
    .main-title-2 {
        font-size: 1.3em;
    }

    .main-content-title p {
        font-size: 0.8em;
    }

    .footer {
        font-size: 0.6em;
    }

    .main-content-btn{
        font-size: 1.2em;
        padding: 5px 25px;
    }
}
